kernel/scripts/kconfig/mconf
Module.symvers
debian/ubuntu-build-service/bullseye-desktop-arm64/
debian/ubuntu-build-service/bullseye-desktop-arm64/binary/
debian/ubuntu-build-service/bullseye-desktop-arm64/cache/
kernel/.config
u-boot/bl31*
tags
*.o.d
*.itb
*.its
kernel/.tmp_kallsyms1.S
.rootfs/
br.log
u-boot/bl31_0xff001000.bin
kernel/drivers/firmware/efi/libstub/lib.a
kernel/scripts/kconfig/mconf-cfg
kernel/kernel/config_data.gz
kernel/kernel/config_data.h
kernel/kernel/debug/kdb/gen-kdb_cmds.c
kernel/scripts/bin2c
kernel/scripts/gdb/linux/constants.py
kernel/scripts/genksyms/genksyms
kernel/scripts/genksyms/lex.lex.c
kernel/scripts/genksyms/parse.tab.c
kernel/scripts/genksyms/parse.tab.h
kernel/scripts/insert-sys-cert
kernel/scripts/selinux/genheaders/genheaders
kernel/scripts/selinux/mdp/mdp
kernel/scripts/sign-file

kernel/scripts/kconfig/.mconf-cfg
kernel/.tmp_kallsyms2.S
kernel/arch/arm64/crypto/sha256-core.S
kernel/crypto/asymmetric_keys/pkcs7.asn1.c
kernel/crypto/asymmetric_keys/pkcs7.asn1.h
kernel/crypto/asymmetric_keys/x509.asn1.c
kernel/crypto/asymmetric_keys/x509.asn1.h
kernel/crypto/asymmetric_keys/x509_akid.asn1.c
kernel/crypto/asymmetric_keys/x509_akid.asn1.h
kernel/crypto/rsaprivkey.asn1.c
kernel/crypto/rsaprivkey.asn1.h
kernel/crypto/rsapubkey.asn1.c
kernel/crypto/rsapubkey.asn1.h
kernel/drivers/net/wireless/marvell/mwifiex/mwifiex.ko
kernel/drivers/net/wireless/marvell/mwifiex/mwifiex.mod.c
kernel/drivers/net/wireless/marvell/mwifiex/mwifiex_sdio.ko
kernel/drivers/net/wireless/marvell/mwifiex/mwifiex_sdio.mod.c
kernel/drivers/scsi/scsi_devinfo_tbl.c
kernel/fs/unicode/utf8data.h
kernel/net/wireless/shipped-certs.c
kernel/usr/initramfs_data.cpio
rkbin/bin/rk35/FlashHead.bin
rkbin/bin/rk35/UsbHead.bin
u-boot/bl31.elf
u-boot/bl31_0x00040000.bin
u-boot/bl31_0xfdcc9000.bin
u-boot/bl31_0xfdcd0000.bin
u-boot/fit/
u-boot/*loader_*
u-boot/tee.bin
u-boot/tools/bmp2gray16

built-in.a
*.swp
device/rockchip/.BoardConfig.mk
u-boot/rk3399_loader_v1.19.118.bin
debian/linaro-stretch-alip*
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip*
device/rockchip/.BoardConfig.mk
buildroot/dl/coreutils-8.27.tar.xz
buildroot/dl/qemu-2.10.2.tar.xz
buildroot/dl/ppp-2.4.7.tar.gz
debian/binary/
debian/linaro-stretch-alip-20190604-1.tar.gz
debian/ubuntu-build-service/stretch-desktop-arm64/.build/
debian/ubuntu-build-service/stretch-desktop-arm64/binary/
debian/ubuntu-build-service/stretch-desktop-arm64/cache/
debian/ubuntu-build-service/stretch-desktop-arm64/chroot.packages.install
debian/ubuntu-build-service/stretch-desktop-arm64/chroot/
debian/ubuntu-build-service/stretch-desktop-arm64/config/
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip-20190604-1.build-log.txt
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip-20190604-1.config.tar.bz2
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip-20190604-1.contents
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip-20190604-1.md5sums.txt
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip-20190604-1.packages
debian/ubuntu-build-service/stretch-desktop-arm64/linaro-stretch-alip-20190604-1.sha1sums.txt
device/rockchip/.BoardConfig.mk
*.old
IMAGE/
buildroot/output/
kernel/.missing-syscalls.d
kernel/.tmp_System.map
kernel/.tmp_versions/
kernel/.tmp_vmlinux1
kernel/.tmp_vmlinux2
kernel/.version
kernel/Module.symvers
kernel/System.map
kernel/arch/arm64/boot/Image
kernel/arch/arm64/boot/Image.lz4
kernel/arch/arm64/include/generated/
kernel/arch/arm64/kernel/asm-offsets.s
kernel/arch/arm64/kernel/vdso/vdso.lds
kernel/arch/arm64/kernel/vdso/vdso.so
kernel/arch/arm64/kernel/vdso/vdso.so.dbg
kernel/arch/arm64/kernel/vmlinux.lds
kernel/arch/arm64/lib/lib.a
kernel/certs/x509_certificate_list
kernel/crypto/asymmetric_keys/pkcs7-asn1.c
kernel/crypto/asymmetric_keys/pkcs7-asn1.h
kernel/crypto/asymmetric_keys/x509-asn1.c
kernel/crypto/asymmetric_keys/x509-asn1.h
kernel/crypto/asymmetric_keys/x509_akid-asn1.c
kernel/crypto/asymmetric_keys/x509_akid-asn1.h
kernel/crypto/asymmetric_keys/x509_rsakey-asn1.c
kernel/crypto/asymmetric_keys/x509_rsakey-asn1.h
kernel/drivers/gpu/arm/mali400/mali/__malidrv_build_info.c
kernel/drivers/net/wireless/mwifiex/mwifiex.ko
kernel/drivers/net/wireless/mwifiex/mwifiex.mod.c
kernel/drivers/net/wireless/mwifiex/mwifiex_sdio.ko
kernel/drivers/net/wireless/mwifiex/mwifiex_sdio.mod.c
kernel/drivers/net/wireless/rockchip_wlan/rkwifi/bcmdhd/bcmdhd.ko
kernel/drivers/net/wireless/rockchip_wlan/rkwifi/bcmdhd/bcmdhd.mod.c
kernel/drivers/net/wireless/rockchip_wlan/rtl8188eu/8188eu.ko
kernel/drivers/net/wireless/rockchip_wlan/rtl8188eu/8188eu.mod.c
kernel/drivers/tty/vt/consolemap_deftbl.c
kernel/drivers/tty/vt/defkeymap.c
kernel/include/config/
kernel/include/generated/
kernel/kernel/bounds.s
kernel/lib/crc32table.h
kernel/lib/gen_crc32table
kernel/lib/lib.a
kernel/lib/oid_registry_data.c
kernel/scripts/asn1_compiler
kernel/scripts/basic/fixdep
kernel/scripts/conmakehash
kernel/scripts/dtc/dtc
kernel/scripts/dtc/dtc-lexer.lex.c
kernel/scripts/dtc/dtc-parser.tab.c
kernel/scripts/dtc/dtc-parser.tab.h
kernel/scripts/extract-cert
kernel/scripts/kallsyms
kernel/scripts/kconfig/conf
kernel/scripts/kconfig/zconf.hash.c
kernel/scripts/kconfig/zconf.lex.c
kernel/scripts/kconfig/zconf.tab.c
kernel/scripts/mkkrnlimg
kernel/scripts/mod/devicetable-offsets.h
kernel/scripts/mod/devicetable-offsets.s
kernel/scripts/mod/elfconfig.h
kernel/scripts/mod/mk_elfconfig
kernel/scripts/mod/modpost
kernel/scripts/recordmcount
kernel/scripts/resource_tool
kernel/scripts/sortextable
kernel/usr/.initramfs_data.cpio.d
kernel/usr/gen_init_cpio
kernel/usr/initramfs_data.cpio.gz
kernel/vmlinux
rockdev/
u-boot/.config
u-boot/System.map
u-boot/arch/arm/include/asm/arch
u-boot/arch/arm/lib/asm-offsets.s
u-boot/arch/arm/lib/lib.a
u-boot/examples/standalone/hello_world
u-boot/examples/standalone/hello_world.bin
u-boot/examples/standalone/hello_world.srec
u-boot/include/autoconf.mk
u-boot/include/autoconf.mk.dep
u-boot/include/config.h
u-boot/include/config/
u-boot/include/generated/
u-boot/lib/asm-offsets.s
u-boot/rk3399pro_loader_v1.20.115.bin
u-boot/scripts/basic/fixdep
u-boot/scripts/dtc/dtc
u-boot/scripts/dtc/dtc-lexer.lex.c
u-boot/scripts/dtc/dtc-parser.tab.c
u-boot/scripts/dtc/dtc-parser.tab.h
u-boot/scripts/kconfig/conf
u-boot/scripts/kconfig/zconf.hash.c
u-boot/scripts/kconfig/zconf.lex.c
u-boot/scripts/kconfig/zconf.tab.c
u-boot/spl/
u-boot/tools/boot_merger
u-boot/tools/checksum
u-boot/tools/common/
u-boot/tools/dumpimage
u-boot/tools/fdtgrep
u-boot/tools/gen_eth_addr
u-boot/tools/gen_ethaddr_crc
u-boot/tools/lib/
u-boot/tools/loaderimage
u-boot/tools/mkenvimage
u-boot/tools/mkimage
u-boot/tools/proftool
u-boot/tools/relocate-rela
u-boot/tools/resource_tool
u-boot/tools/trust_merger
u-boot/tpl/
u-boot/u-boot
u-boot/u-boot-dtb.bin
u-boot/u-boot-nodtb.bin
u-boot/u-boot.bin
u-boot/u-boot.cfg
u-boot/u-boot.cfg.configs
u-boot/u-boot.lds
u-boot/u-boot.map
u-boot/u-boot.srec
u-boot/u-boot.sym
*.o
*.builtin
*.order
*.dtb
*.cmd
*.img
*.su
*.tmp
npu/buildroot/output/
npu/kernel/.config
npu/kernel/.missing-syscalls.d
npu/kernel/.tmp_System.map
npu/kernel/.tmp_vmlinux1
npu/kernel/.tmp_vmlinux2
npu/kernel/.version
npu/kernel/Module.symvers
npu/kernel/System.map
npu/kernel/arch/arm64/boot/Image
npu/kernel/arch/arm64/boot/Image.lz4
npu/kernel/arch/arm64/include/generated/
npu/kernel/arch/arm64/kernel/asm-offsets.s
npu/kernel/arch/arm64/kernel/vdso/vdso.lds
npu/kernel/arch/arm64/kernel/vdso/vdso.so
npu/kernel/arch/arm64/kernel/vdso/vdso.so.dbg
npu/kernel/arch/arm64/kernel/vmlinux.lds
npu/kernel/arch/arm64/lib/lib.a
npu/kernel/include/config/
npu/kernel/include/generated/
npu/kernel/kernel/bounds.s
npu/kernel/lib/crc32table.h
npu/kernel/lib/gen_crc32table
npu/kernel/lib/lib.a
npu/kernel/scripts/basic/fixdep
npu/kernel/scripts/dtc/dtc
npu/kernel/scripts/dtc/dtc-lexer.lex.c
npu/kernel/scripts/dtc/dtc-parser.tab.c
npu/kernel/scripts/dtc/dtc-parser.tab.h
npu/kernel/scripts/kallsyms
npu/kernel/scripts/kconfig/conf
npu/kernel/scripts/kconfig/zconf.hash.c
npu/kernel/scripts/kconfig/zconf.lex.c
npu/kernel/scripts/kconfig/zconf.tab.c
npu/kernel/scripts/mkkrnlimg
npu/kernel/scripts/mod/devicetable-offsets.h
npu/kernel/scripts/mod/devicetable-offsets.s
npu/kernel/scripts/mod/elfconfig.h
npu/kernel/scripts/mod/mk_elfconfig
npu/kernel/scripts/mod/modpost
npu/kernel/scripts/resource_tool
npu/kernel/scripts/sortextable
npu/kernel/usr/.initramfs_data.cpio.d
npu/kernel/usr/gen_init_cpio
npu/kernel/usr/initramfs_data.cpio.gz
npu/kernel/vmlinux
*.patch

*.mod.c
*.dump.dts
*.mod
*.ko

kernel/.tmp_kallsyms
kernel/.tmp_vmlinux.kallsyms1
kernel/.tmp_vmlinux.kallsyms1.S
kernel/.tmp_vmlinux.kallsyms2
kernel/.tmp_vmlinux.kallsyms2.S
kernel/drivers/tty/vt/conmakehash
kernel/kernel/config_data
kernel/modules-only.symvers
kernel/modules.builtin.modinfo
kernel/scripts/module.lds
kernel/vmlinux.symvers

debian/linaro-bullseye-alip-*
debian/ubuntu-build-service/bullseye-desktop-arm64/.build/
debian/ubuntu-build-service/bullseye-desktop-arm64/chroot/
debian/ubuntu-build-service/bullseye-desktop-arm64/config/
debian/ubuntu-build-service/bullseye-desktop-arm64/linaro-bullseye-alip-*

kernel/scripts/kconfig/lexer.lex.c
kernel/scripts/kconfig/parser.tab.c
kernel/scripts/kconfig/parser.tab.h
kernel/scripts/sorttable
kernel/usr/initramfs_inc_data
u-boot/.cc
u-boot/bl31_0x000f0000.bin
u-boot/bl31_0xff009000.bin
u-boot/bl31_0xff100000.bin
u-boot/rk3588_spl_loader_*

buildroot/dl/*/*.lock
external/rkwifibt-app/rkwifibt_test
external/rkwifibt/src/rk_wifibt_init
external/rkwifibt/tools/rtk_hciattach/rtk_hciattach

download/*
buildroot/dl/ccache/*
ubuntu/ubuntu-rootfs.img
ubuntu/.ubuntu*
ubuntu/.kernel*

